name: CI/CD Pipeline

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Debug - locate Dockerfile
        run: |
          echo "PWD=$(pwd)"
          ls -la
          ls -la snakeapp || true
          find . -maxdepth 6 -type f -iname "*dockerfile*" -print
          git ls-files | grep -i dockerfile || true

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ./Dockerfile

      - name: Validate Kubernetes YAML (kubeconform)
        run: |
          curl -L -o kubeconform.tar.gz https://github.com/yannh/kubeconform/releases/latest/download/kubeconform-linux-amd64.tar.gz
          tar -xzf kubeconform.tar.gz kubeconform
          sudo mv kubeconform /usr/local/bin/kubeconform
          kubeconform -strict -summary -ignore-missing-schemas k8/
