name: CI/CD Pipeline

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: snakeapp/dockerfile

      - name: Validate Kubernetes manifests
        uses: azure/setup-kubectl@v3

      - name: Dry-run apply (checks YAML is valid)
        run: |
          kubectl apply --dry-run=client -f snakeapp/k8/